@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Arturo;
    src: url('/fonts/Arturo-Italic Trial.ttf')
  }

  @font-face {
    font-family: Fonarto;
    src: url('/fonts/fonarto.regular.ttf')
  }

  @font-face {
    font-family: Quicksand;
    src: url('/fonts/Quicksand-Medium.ttf')
  }


}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.bg-overly {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.active {
  color: #0984e3 !important;
  padding-left: .5rem;
}

.active::before {
  content: '';
  position: absolute;
  top: 51.5%;
  transform: translatex(-222%);
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: #0984e3;
}

@media (max-width:500px) {
  .active::before {
    top: 65.5%;
  }
}

.city-card {
  z-index: 9999;
  overflow: hidden;
  height: 168px;
  cursor: pointer;
}

.city-card:hover .city-card-main {
  transform: translateY(-70px);
}

.city-card:hover .city-card-img {
  transform: translateY(-80px);
}
.swiper-pagination-bullet{
  background-color: white !important;
}
.swiper-pagination-bullet-active{
  background: #0984e3 !important;
}

form input:focus,
form textarea:focus{
  box-shadow: none !important;
  border-color: white !important;
}